.back-cont {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: var(--full-height);
  cursor: pointer;
  z-index: var(--modal-z-index);
  background-color: var(--first-background-color);
  transition: opacity var(--first-transition);
  animation: fade-in-back ease 0.2s;

  &.hide {
    opacity: 0 !important;
  }
}

@keyframes fade-in-back {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-show-picture {
  animation: none !important;
  margin: 0 !important;
  padding: 0 !important;
  max-height: initial !important;
  max-width: initial !important;
  position: fixed !important;
  z-index: var(--modal-z-index) !important;
  right: auto !important;
}