.toast-container {
  position: fixed;
  top: 16px;
  left: 16px;
  right: 16px;
  max-height: calc(var(--full-height) - 32px);
  overflow: hidden;
  width: calc(100% - 32px);
  max-width: 450px;
  margin-inline-start: auto;
  z-index: var(--toast-z-index);
  pointer-events: none;
}

.toast-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--toast-success-text);
  border-radius: var(--second-radius);
  font-size: var(--title-font);
  width: 100%;
  overflow: hidden;
  user-select: none;
  pointer-events: all;

  &.SUCCESS_TOAST {
    background-color: var(--toast-success-bg);
    color: var(--toast-success-text);

    .toast-item-close {
      fill: var(--toast-success-text);
      stroke: var(--toast-success-text);
    }
  }

  &.INFO_TOAST {
    background-color: var(--toast-info-bg);
    color: var(--toast-info-text);

    .toast-item-close {
      fill: var(--toast-info-text);
      stroke: var(--toast-info-text);
    }
  }

  &.FAIL_TOAST {
    background-color: var(--toast-fail-bg);
    color: var(--toast-fail-text);

    .toast-item-close {
      fill: var(--toast-fail-text);
      stroke: var(--toast-fail-text);
    }
  }
}

.toast-item-message {
  display: flex;
  align-items: center;
}

.toast-item-svg {
  margin-inline-start: -2px;
  min-width: 18px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-inline-end: 8px;

  .timer-text {
    padding-top: 3px;
    font-size: var(--tiny-font);
  }

  &.success {
    path {
      stroke: var(--toast-success-text)
    }
  }

  &.info {
    path, circle {
      stroke: var(--toast-info-text)
    }
  }

  &.fail {
    path {
      stroke: var(--toast-fail-text)
    }
  }
}

.toast-item-close-material {
  width: 20px;
  min-width: 20px;
  margin-inline-start: 8px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: -4px;
  cursor: pointer;
}

.toast-item-close {
  min-width: 120%;
  width: 120%;
  height: 120%;
  transform: rotate(45deg);

  &.undo {
    width: 12px;
    min-width: 12px;
    height: 12px;
    margin-inline-end: 8px;
    transform: none;
  }
}

.toast-item-undo-btn {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: var(--first-radius);
  margin-inline-end: -10px;
  width: 100px;
  min-width: 100px;
  cursor: pointer;
}

.toast-item-undo-text {
  font-family: "my-font-demibold", serif;
}