.switch-tab-cont {
  .switch-cont {
    height: auto;
    box-shadow: none;
    overflow: visible;
    transform: none;
  }

  .switch {
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
  }
}

.switch-cont {
  content-visibility: hidden;
  display: none;
  height: var(--full-height);
  transition: height ease 0.15s;
  overflow: hidden;
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, 0, 0);

  &.rendering {
    content-visibility: visible;
    display: block;
  }
}

.switch {
  scrollbar-width: thin;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  @supports (overflow-y: overlay) {
    overflow-y: overlay
  }
}