# dependencies
/node_modules

# misc
# .env

# production
/build

# misc
/.idea

# package-lock.json
package-lock.json
yarn.lock
.DS_Store
debug.log
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
