.account {
  background-color: var(--first-background-color);
  padding: var(--header-height) 0 32px;
  min-height: var(--full-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.account-detail-login-img {
  margin: 16px auto;
  width: 240px;

  img {
    width: 100%;
  }
}

.account-detail-login-btn {
  width: 100%;
}

.account-detail-login-btn-inner {
  border-radius: var(--first-radius);
  width: calc(100% - (2 * var(--mobile-first-solid-padding)));
  margin: 0 var(--mobile-first-solid-padding);
}

.account-detail-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 24px;
}

.account-detail-name {
  font-size: var(--title-font);
  font-family: "my-font-demibold", serif;
  margin-top: 16px;
  margin-bottom: 4px;
}

.account-detail-email {
  color: var(--second-text-color);
  font-size: var(--small-font);
}

.account-detail-edit {
  padding: 8px 16px;
  border-radius: var(--first-radius);
  cursor: pointer;
  color: var(--link-color);
  margin-top: 8px;
  font-family: "my-font-demibold", serif;
  font-size: var(--small-font);
}

.account-setting {
  width: 100%;
  margin: 32px 0;
}

.account-setting-title {
  font-size: var(--title-font);
  font-family: "my-font-demibold", serif;
  padding: 0 var(--mobile-first-solid-padding);
  margin-bottom: 16px;
}

.account-setting-item-link {
  width: 100%;
}

.account-setting-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px var(--mobile-first-solid-padding);
  cursor: pointer;
}

.account-setting-item-content {
  display: flex;
  align-items: center;
  font-size: var(--title-font);
}

.account-setting-item-content-icon {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 12px;

  &.logout {
    background-color: var(--first-color);
  }
}

.account-setting-item-content-icon-svg {
  width: 16px;
  height: 16px;
}

.account-setting-item-arrow {
  width: 14px;
  height: 14px;
  transform: rotate(180deg);

  path {
    fill: var(--second-icon-color);
  }
}

.account-footer {
  direction: ltr;
  text-align: center;
}

.account-footer-title {
  font-size: var(--small-font);
  font-family: "my-font-en", serif;
}

.account-footer-desc {
  color: var(--second-text-color);
  font-size: var(--small-font);
  font-family: "my-font-en", serif;
  margin-top: 4px;
}

.account-theme-cont {
  width: 400px;
  max-width: 100%;

  @media screen and (min-width: 480px) {
    padding: 32px 0;
  }
}

.account-theme {
  padding: 32px 0;
}

.account-theme-title {
  color: var(--fifth-text-color);
  font-size: var(--large-font);
  font-family: "my-font-demibold", serif;
  margin-bottom: 24px;
  text-align: center;
}

.account-theme-item {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: var(--title-font);
  padding: 0 var(--mobile-first-solid-padding);
  height: 64px;
}

.account-theme-item-icon {
  width: 24px;
  height: 24px;
}

.account-theme-checked {
  width: 24px;
  height: 24px;
  position: absolute;
  inset-inline-end: var(--mobile-first-solid-padding);
  transition: bottom var(--first-transition);

  path {
    stroke: var(--success-color);
  }
}