.archive {
  min-height: var(--full-height);
  padding-top: calc(var(--header-height) + var(--mobile-first-solid-padding));
  padding-bottom: calc(var(--nav-height) + var(--mobile-first-solid-padding));
  background-color: var(--first-background-color);
}

.archive-title {
  font-size: var(--title-font);
  font-family: "my-font-bold", serif;
  padding: 0 var(--mobile-first-solid-padding);
  margin: 8px 0 24px;
}

.archive-category {
  width: 100%;
  height: 56px;
  padding: 0 var(--mobile-first-solid-padding);
  cursor: pointer;
}

.archive-category-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.archive-category-content-title {
  color: var(--forth-text-color);
  font-size: var(--title-font);
}

.archive-category-content-arrow {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);

  path {
    fill: var(--second-icon-color);
  }
}