.full-screen-btn {
  position: sticky;
  left: 0;
  right: 0;
  width: 100%;
  bottom: calc(-1 * var(--mobile-first-solid-padding));
  padding: var(--mobile-first-solid-padding) var(--mobile-first-solid-padding) calc(var(--mobile-first-solid-padding) + var(--bottom-env-padding)) var(--mobile-first-solid-padding);
  background-color: var(--first-background-color);
  box-shadow: none;
  transition: padding linear 0.2s, box-shadow linear 0.2s;

  &.is-pinned {
    padding: calc(var(--mobile-first-solid-padding) / 2) var(--mobile-first-solid-padding) calc(var(--mobile-first-solid-padding) + var(--bottom-env-padding) + var(--mobile-first-solid-padding) / 2) var(--mobile-first-solid-padding);
    box-shadow: var(--second-shadow);
  }
}