.button {
  padding: 0 16px;
  border-radius: var(--third-radius);

  &.second {
    background-color: var(--second-color);
    color: var(--solid-light);
  }

  &.disable {
    background-color: var(--disable-bg-color);
    color: var(--disable-text-color);
    cursor: not-allowed;
  }
}