.category-video-cart {
  margin: 0 var(--mobile-first-solid-padding) 32px;
  border-radius: var(--first-radius);
  width: calc(100% - (2 * var(--mobile-first-solid-padding)));
  cursor: pointer;
}

.category-video-cart-image {
  width: 100%;
  height: auto;
  border-radius: var(--first-radius);
  background-color: var(--second-background-color);
  object-fit: cover;
  aspect-ratio: 368 / 204;

  img {
    display: block;
  }
}

.category-video-cart-title {
  font-size: var(--title-font);
  font-family: "my-font-demibold", serif;
  margin: 8px 0 12px;

  &.skeleton {
    background-color: var(--second-background-color);
    border-radius: var(--first-radius);
    position: relative;
    overflow: hidden;

    &:after {
      position: absolute;
      content: " ";
      width: 3px;
      background-color: var(--first-border-color);
      height: 200%;
      left: 0;
      top: -50%;
      transform: rotate(45deg);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      animation: load-img ease-in-out 1.7s infinite;
    }
  }
}

.category-video-cart-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--third-text-color);
  font-size: var(--small-font);

  &.skeleton {
    background-color: var(--second-background-color);
    border-radius: var(--first-radius);
    position: relative;
    overflow: hidden;

    &:after {
      position: absolute;
      content: " ";
      width: 3px;
      background-color: var(--first-border-color);
      height: 200%;
      left: 0;
      top: -50%;
      transform: rotate(45deg);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      animation: load-img ease-in-out 1.7s infinite;
    }
  }
}