.home-header {
  height: var(--header-height);
  background-color: var(--first-background-color);
  padding: 0 var(--mobile-second-solid-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--header-z-index);
  box-shadow: var(--first-shadow);
}

.home-header-section {
  display: flex;
  align-items: center;
}

.home-header-title {
  width: 150px;
}

.home-header-profile {
  width: 40px;
  height: 40px;
  margin-inline-end: -12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header-profile-icon {
  width: 16px;
  height: 16px;
}