@import "../seyed-modules/styles/index";

@import "animations";
@import "validation-error";
@import "input";
@import "btn-bottom";
@import "login";
@import "category-slide";
@import "category-header";
@import "category-video-cart";
@import "home-header";
@import "navbar";
@import "home";
@import "button";
@import "account";
@import "archive";
@import "category";
@import "video";

@font-face {
  font-family: "my-font";
  src: url("../media/fonts/yekan-fanum-regular.woff") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "my-font-demibold";
  src: url("../media/fonts/yekan-fanum-demibold.woff") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "my-font-bold";
  src: url("../media/fonts/yekan-fanum-bold.woff") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "my-font-en";
  src: url("../media/fonts/yekan-regular.woff2") format("woff2");
  font-display: swap;
}

.main-tab {
  position: static;
}