.input-label {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.input-label-relative {
  position: relative;
}

.input-label-text {
  font-size: var(--title-font);
  font-family: "my-font-demibold", serif;
}

.input-main {
  background-color: var(--first-background-color);
  font-size: var(--title-font);
  font-family: "my-font", serif;
  margin-top: 10px;
  height: var(--btn-input-height);
  width: 100%;
  padding: 0 12px;
  border: 2px solid var(--first-border-color);
  border-radius: var(--first-radius);
  transition: border ease 0.2s;

  &.area {
    padding: 12px;
    height: auto;
    resize: none;
  }

  &.have-icon {
    padding-inline-end: 48px;
  }

  &.ltr {
    direction: ltr;

    &.have-icon {
      padding-inline-end: 48px;
    }
  }

  &:disabled {
    background-color: var(--disable-bg-color);
  }

  &:focus {
    border: 2px solid var(--first-text-color);
  }

  &.err {
    border: 2px solid var(--danger-color);
  }

  &::placeholder {
    font-family: "my-font", serif;
    color: var(--second-text-color);
  }

  &:placeholder-shown {
    direction: var(--language-direction);
  }

  &.ltr-placeholder {
    &:placeholder-shown {
      direction: ltr;
    }
  }
}

.input-icon {
  position: absolute;
  top: 26px;
  right: 12px;
  width: 24px;
  height: 24px;
  pointer-events: none;

  &.rtl {
    inset-inline-start: initial;
    inset-inline-end: 12px;
  }

  &.icon {
    path {
      stroke: var(--toast-success-text);
    }
  }

  &.validation {
    opacity: 0;
    transition: opacity ease 0.2s 0.1s;

    &.show {
      opacity: 1;
      transition: opacity ease 0.2s 0s;
    }
  }
}