.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: var(--modal-z-index);
  transform: translate3d(-50%, -50%, 0);
  box-shadow: var(--first-shadow);
  background-color: var(--first-background-color);
  border-radius: var(--third-radius);
  padding: 32px 24px;
  animation: modal-in ease 0.2s;

  &.hide {
    opacity: 0;
    animation: modal-out ease 0.2s;
  }
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--first-modal-background-color);
  z-index: var(--modal-z-index);
  backdrop-filter: grayscale(100%);
  animation: fade-in ease 0.3s;

  &.hide {
    opacity: 0;
    animation: fade-out ease 0.3s;
  }
}