.privacy {
  background-color: var(--first-background-color);
  padding: calc(var(--header-height) + 2 * var(--mobile-first-solid-padding)) var(--mobile-first-solid-padding) calc(var(--nav-height) + var(--mobile-first-solid-padding));
  min-height: var(--full-height);
}

.privacy-text {
  white-space: pre-wrap;
  word-break: break-word;
  text-align: justify;
  text-align-last: start;
  line-height: var(--second-line-height);
}