.switch-key {
  position: relative;
  width: 50px;
  height: 20px;
  border-radius: var(--second-radius);
  overflow: hidden;
  transform: perspective(0);
  background-color: var(--first-border-color);
}

.switch-toggle {
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  height: 16px;
  width: 16px;
  margin: 2px;
  border-radius: 50%;
  background-color: var(--solid-light);
  box-shadow: var(--first-shadow);
  display: block;
  transition: inset-inline-end var(--first-transition);

  &.off {
    inset-inline-end: calc(100% - 20px);
  }
}

.switch-color {
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--success-color);
  display: block;
  transition: width var(--first-transition);

  &.off {
    width: 0;
  }
}